<% layout('layouts/boilerplate') %>

<form action="/viajes/buscar" method="POST">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="eco">Economico</label>
        <select class="form-control" id="eco">
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="1">1</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="8">8</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="18">18</option>
          <option value="29">29</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="fechaInicial">Fecha de inicio</label>
        <input class="form-control" type="date" placeholder="Default input" />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="fechaFinal">Fecha final</label>
        <input class="form-control" type="date" placeholder="Default input" />
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-primary mt-4">Buscar</button>
    </div>
  </div>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Dia</th>
      <th scope="col">No. Viaje</th>
      <th scope="col">Remision</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Operador</th>
      <th scope="col">Flete</th>
      <th scope="col">Factura</th>
      <th scope="col">Observaciones</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% let i = 1 %> <% for (let viaje of viajes) {%> <% const fecha = new
    Date(viaje.fecha) %>
    <tr>
      <th scope="row"><%= fecha.getDate() + 1 %></th>
      <td><%= i %></td>
      <td><%= viaje.remision %></td>
      <td><%= viaje.origen %></td>
      <td><%= viaje.destino %></td>
      <td><%= viaje.operador %></td>
      <td><%= viaje.flete %></td>
      <td><%= viaje.factura %></td>
      <td><%= viaje.observaciones %></td>
      <td>
        <a
          class="d-inline btn btn-outline-warning btn-sm"
          href="/viajes/<%= viaje._id %> "
          >Editar</a
        >
      </td>
    </tr>
    <% i++ %> <% } %>
  </tbody>
</table>

<a href="/viajes" class="btn btn-primary">Regresar al menu</a>
