<% layout('layouts/boilerplate') %>

<h1>Reporte de viajes</h1>
<div>
  <a href="/viajes/nuevo">Agregar viaje</a>
</div>
<ul>
  <% for (let viaje of viajes) {%>
  <li>
    <a href="/viajes/<%= viaje._id %> "
      ><%= new Date(viaje.fecha).toISOString() %></a
    >
  </li>
  <% } %>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">No. Viaje</th>
      <th scope="col">Remision</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Operador</th>
      <th scope="col">Flete</th>
      <th scope="col">Factura</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% for (let viaje of viajes) {%> <% const fecha = new Date(viaje.fecha) %>
    <tr>
      <th scope="row"><%= fecha.getDate() + 1 %></th>
      <td>1</td>
      <td><%= viaje.remision %></td>
      <td><%= viaje.origen %></td>
      <td><%= viaje.destino %></td>
      <td><%= viaje.operador %></td>
      <td><%= viaje.flete %></td>
      <td><%= viaje.factura %></td>
      <td><%= viaje.observaciones %></td>
      <td>
        <a
          class="d-inline btn btn-outline-warning btn-sm"
          href="/viajes/<%= viaje._id %> "
          >Editar</a
        >
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
